name: Python actions

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run_test_bots:
    name: Run test bots

    # for this purpose, test games can only be run with the headless Sc2 Linux client.
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
      # In this step, this action saves a list of existing images,
      # the cache is created without them in the post run.
      # It also restores the cache if it exists.
    - uses: satackey/action-docker-layer-caching@v0.0.11
      # Ignore the failure of a step and avoid terminating the job.
      continue-on-error: true

    - name: Print directories and files
      run: |
        sudo apt-get install tree
        tree
    - name: Load and build docker image
      run: |
        docker build -t aiarena -f .github/workflows/Dockerfile .
    - name: Collect Docker Logs
      uses: jwalton/gh-docker-logs@v2.0.0
    - name: Run bots
      run: |
        docker run --interactive --tty --detach --name app1 -v .\config.py:/root/aiarena-client/config.py -v .matches:/root/aiarena-client/matches -v .\bots:/root/aiarena-client/bots -v .\maps:/root/StarCraftII/maps aiarena
        docker exec -i app1 bash -c "python -m arenaclient"
        docker rm -f app1
